{{ define "main" }}

<h1>About</h1>

<p>
Welcome! I'm Özlem Yönder, a linoprint artist inspired by nature and everyday moments. From my home studio in Bochum, I create handmade prints that celebrate growth, beauty, and sustainability. Explore my collections and bring a piece of art into your life.
</p>
<p>
<a href="https://www.etsy.com/de-en/shop/OzlemYonderPrints" target="_blank"> [Shop Now]</a>
</p>
<p>
<a href="collections/"> [Browse Collections] </a>
</p>

<h1>Latest posts</h1>


<div class="posts-list">
{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post">
            <p>
                <div class="date">{{ .PublishDate.Format "Jan. 2, 2006" }}</div>
                <h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
            </p>
        </div>    
    {{ end }}
{{ end }}
</div>

<h1>Latest photos</h1>

<div class="image-grid">
{{ with .Site.GetPage "/making" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc")}}
        <a href="{{ .Permalink }}" title="{{ .Title }}">
        {{ $image := .Page.Resources.GetMatch .Params.image }}
        {{ with $image }}
            {{ $thumb := .Resize "400x" }}
            <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
        {{end}}
        </a>
    {{ end }}
{{ end }}
</div>

{{ end }}
