{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}
<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            
            <!-- Fetch image resource -->
            {{ $image := .Page.Resources.GetMatch .Params.image }}
            
            <!-- Display the image -->
            {{ with $image }}
                {{ $thumb := .Resize "400x" }}
                <img src="{{ $thumb.RelPermalink }}" alt="{{ .Title }}" class="img-responsive">
            {{ end }}
            
            <!-- Display the title below the image if available -->
            {{ with .Page.Params.image_title }}
                <div class="image-title">{{ . }}</div>
            {{ end }}
            
            </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}

